.reveal .vue-output {
    background: #eee8d5;
    color: #002b36;
    margin: 20px auto;
}

.reveal *:not(pre)>code {
    display: inline-block;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    line-height: 1.2em;
    font-size: 0.55em;
    white-space: pre;
    overflow: auto;
    padding: 5px;
    word-wrap: normal;
    vertical-align: middle;
}

.reveal pre code {
    max-height: 70%;
}

.reveal .inline .fragment {
    display: inline-block;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.red {
    color: red;
}